.header
  
.wrapper
  = render 'left_content'

  .chat
    .top
      .left-block
        .left-block__group
          = @group_name
        %ul.left-block__member
          %li.member
            Member:
            - @group_member.each do |member|
              %li.member
                = member.name
      .right-block
        = link_to 'Edit', edit_group_path(@group), class: 'edit'
    .messages
      - @messages.each do |message|
        .message{data: {message_id: "#{message.id}"}}
          .upper-message
            .upper-message__user-name
              = message.user.name
            .upper-message__time
              = message.created_at.strftime("%Y/%m/%d %H:%M")
          .lower-message
            - if message.content.present?
              .lower-message__content
                =message.content
            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    .form
      = form_for [@group, @message], html: {class: 'js-form'} do |f|
        .form__message
          .form__message__box
            = f.text_field :content, class: 'form__message__box__text', placeholder: 'type a message'
            = f.label :image, class: 'form__message__box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'file'
          = f.submit 'send' ,class: 'form__message__submit'


      