.header
  
.wrapper
  = render 'left_content'

  .chat
    .top
      .left-block
        .left-block__group
          グループ名
        %ul.left-block__member
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-block
        Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            ユーザー名
          .upper-message__time
            2019/11/3(sat) 13:08:01
        .lower-message
          .lower-message__content
            メッセージ
        .upper-message
          .upper-message__user-name
            ユーザー名
          .upper-message__time
            2019/11/3(sat) 13:10:51
        .lower-message
          .lower-message__content
            メッセージ
    .form
      = form_for [@group, @message] do |f|
        .form__message
          .form__message__box
            = f.text_field :content, class: 'form__message__box__text', placeholder: 'type a message'
            = f.label :image, class: 'form__message__box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'file'
          = f.submit 'send' ,class: 'form__message__submit'


      